<html>

  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/choose_keyword.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js">
    </script>
    <script src="/choose_keyword.js"></script>
  </head>

  <body ng-app="sourgrapes">

    <script type="text/javascript">
      window.keywords = {{.Keywords}};
      window.previous = {{.Previous}};
      console.log(window.previous)
    </script>

    <div class="row" ng-controller="ChooseKeywordCtrl">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8">

        <h1>Lets pick a movie to watch!</h1>

        <h2 ng-show="previous.length != 0">This is what you've got so far...</h2>
  
        <ul id="previous-choices" class="list-unstyled">
          <li ng-repeat="prev in previous">
            [[prev]]
          </li>
          <a ng-show="previous.length != 0" href="/">
            <li class="none-good">Let's start over</li>
          </a>
        </ul>

        <h2>{{.Header}}</h2>

        <ul id="kw-choices" class="list-unstyled">
          <a ng-repeat="keyword in keywords" ng-href="[[keywordUrl(keyword)]]">
            <li>[[keyword.word]]</li>
          </a>
          <a href=".">
            <li class="none-good">Nah, let's try something else</li>
          </a>
        </ul>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
  </body>

</html>
