body {
    background-color: #E3DFBB;
}

h1 {
    text-align: center;
    color: #00748E;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
}

#nav-opts {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#nav-opts li {
    text-align: center;
}

#nav-opts a {
}
